
//@theme "~/.config/rofi/theme.rasi"

configuration {
	modi: "drun,run,window,emoji";
}

//@theme "/home/artorias/.config/rofi/themes/theme.rasi"

//@theme "/home/artorias/.config/rofi/themes/theme.rasi"

@theme "/home/artorias/.config/rofi/themes/theme.rasi"
