/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #000001 !important;
  --toolbarbutton-icon-fill: #c8c5ce !important;
  --toolbar-field-color: #e5e1e2 !important;
  --tab-selected-textcolor: #c8c5ce !important;
  --toolbar-color: #e5e1e2 !important;
  --arrowpanel-color: #e5e1e2 !important;
  --arrowpanel-background: #201f20 !important;
  --sidebar-text-color: #e5e1e2 !important;
  --zen-main-browser-background: #141314 !important;
}

.sidebar-placesTree {
  background-color: #201f20 !important;
}

#zen-workspaces-button {
  background-color: #201f20 !important;
}

#TabsToolbar {
  background-color: #141314 !important;
}

.urlbar-background {
  background-color: #201f20 !important;
}

.urlbar-input::selection {
  color: #303036 !important;
  background-color: #c8c5ce !important;
}

.urlbarView-url {
  color: #c8c5cb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c8c5ce
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #dcdae2 !important;
  --identity-icon-color: #dcdae2 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c8c5ce !important;
  --identity-icon-color: #c8c5ce !important;
}

.identity-color-green {
  --identity-tab-color: #a0f7b3 !important;
  --identity-icon-color: #a0f7b3 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe7a5 !important;
  --identity-icon-color: #ffe7a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffda72 !important;
  --identity-icon-color: #ffda72 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb2 !important;
  --identity-icon-color: #ff9fb2 !important;
}

.identity-color-pink {
  --identity-tab-color: #f9f7ff !important;
  --identity-icon-color: #f9f7ff !important;
}

.identity-color-purple {
  --identity-tab-color: #5a575f !important;
  --identity-icon-color: #5a575f !important;
}

#zen-appcontent-navbar-container {
  background-color: #141314 !important;
}
